In [1]:
#By prajwal Anand
pip install nltk

Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.5)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (0.17.0)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.50.2)
Requirement already satisfied: regex in c:\programdata\anaconda3\lib\site-packages (from nltk) (2020.10.15)

In [29]:
import nltk

In [ ]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [ ]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
dt = pd.read_csv("spam1.csv" , encoding = 'Windows-1252')

In [5]:
import chardet
with open("spam1.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'Windows-1252', 'confidence': 0.7271340437464946, 'language': ''}

In [12]:
dt.head()

   type                                               text
0   ham  [Go, until, jurong, point,, crazy.., Available...
1   ham               [Ok, lar..., Joking, wif, u, oni...]
2  spam  [Free, entry, in, 2, a, wkly, comp, to, win, F...
3   ham  [U, dun, say, so, early, hor..., U, c, already...
4   ham  [Nah, I, don't, think, he, goes, to, usf,, he,...

In [13]:
dt['spam'] = dt['type'].map({'spam' : 1 , 'ham' : 0}).astype(int)

In [14]:
dt.head(4)

   type                                               text  spam
0   ham  [Go, until, jurong, point,, crazy.., Available...     0
1   ham               [Ok, lar..., Joking, wif, u, oni...]     0
2  spam  [Free, entry, in, 2, a, wkly, comp, to, win, F...     1
3   ham  [U, dun, say, so, early, hor..., U, c, already...     0

In [7]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:", t)

NO OF ROWS IN REVIEW COLUMN: 5572

In [8]:
dt['text'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [9]:
def tokenizer(text):
  return text.split()

In [10]:
dt['text'] = dt['text'].apply(tokenizer)

In [11]:
dt['text'][2] #splitting each word in the message

['Free',
 'entry',
 'in',
 '2',
 'a',
 'wkly',
 'comp',
 'to',
 'win',
 'FA',
 'Cup',
 'final',
 'tkts',
 '21st',
 'May',
 '2005.',
 'Text',
 'FA',
 'to',
 '87121',
 'to',
 'receive',
 'entry',
 'question(std',
 'txt',
 "rate)T&C's",
 'apply',
 "08452810075over18's"]

In [12]:
#Stemming
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english" , ignore_stopwords = False)

In [13]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [14]:
dt['text'] = dt['text'].apply(stem_it)

In [15]:
dt['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [17]:
dt['text'][1] #here in the output joking became joke

['ok', 'lar...', 'joke', 'wif', 'u', 'oni...']

In [18]:
#Lemmitization
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [19]:
def lemmit_it(text):
  return [lemmatizer.lemmatize(word , pos = 'a') for word in text]

In [20]:
dt['text'] = dt['text'].apply(lemmit_it)

In [21]:
dt['text'][2]

['free',
 'entri',
 'in',
 '2',
 'a',
 'wkli',
 'comp',
 'to',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 'to',
 '87121',
 'to',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [26]:
dt['text'][152]

['ok...', 'ur', 'typic', 'reply...']

In [27]:
#StopWords

from nltk.corpus import stopwords
stop_words = stopwords.words("english")

In [31]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ADMI\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [32]:
def stop_it(text):
  review = [word for word in text if not word in stop_words]
  return review

In [33]:
dt['text'] = dt['text'].apply(stop_it)

In [34]:
dt['text'][2]

['free',
 'entri',
 '2',
 'wkli',
 'comp',
 'win',
 'fa',
 'cup',
 'final',
 'tkts',
 '21st',
 'may',
 '2005.',
 'text',
 'fa',
 '87121',
 'receiv',
 'entri',
 'question(std',
 'txt',
 'rate)t&c',
 'appli',
 '08452810075over18']

In [36]:
dt['text'] = dt['text'].apply(' '.join)

In [51]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [38]:
dt['text'][2]

'free entri 2 wkli comp win fa cup final tkts 21st may 2005. text fa 87121 receiv entri question(std txt rate)t&c appli 08452810075over18'

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values#values given in spam column like 0 and 1
x=tfidf.fit_transform(dt['text'])

In [46]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [47]:
x

<5572x8124 sparse matrix of type '<class 'numpy.float64'>'
	with 50268 stored elements in Compressed Sparse Row format>

In [48]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)

In [49]:
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_test)*100
print("accuracy:",acc_log )

accuracy: 96.05381165919282